extend ../layout

block content
  h1.text-center Create an Event

  .row.justify-content-center
    .col-sm-8
      if errors.length > 0
        .alert.alert-danger
          each error in errors
            | #{error} <br>

      form(action="/create" method="post")
        .form-group
          label Name
          input.form-control(type="text", name="name")
        .form-group
          label Description
          textarea.form-control(name="description" rows="5")
        .form-group
          button.btn.btn-success(type="submit") Create
